<h1>Survey: <%= @survey.name() %></h1>

<% if @survey.questions().any?() %>
  <h2>Current list of queries:</h2>
  <ul>
    <% @survey.questions().each() do |question| %>
      <li> <a href="/queries/<%= question.id() %>"><%= question.query() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>
    There are no queries for this survey yet!
  </p>
<% end %>


<h3>Add Query:</h3>
<form action="/surveys/<%= @survey.id() %>" method="post">
  <div class="form-group">
    <label for="query">Query</label>
    <input type="text" name="query" id="query" class="form-control">
  </div>
  <button type="submit" class="btn">Create</button>
</form>

<!-- <h3> Delete Query:</h3>
<form action="/surveys/<%= @survey.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <label for="query_select">Query</label>
  <select id="query_select" name="query_select">
    <% @survey.questions().each() do |question| %>
      <option id="option_<%= question.id() %>" value="<%= question.id() %>" ><%= question.query() %></option>
    <% end %>
  </select>

  <button type="submit" class="btn">Delete Query</button>
</form> -->


<br>
<h3>Update Survey:</h3>
  <form action="/surveys/<%= @survey.id() %>" method="post">
    <input name="_method" type="hidden" value="patch">
    <div class= "form-group">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" class="form-control">
    </div>
    <button type="submit" class="btn">UPDATE</button>
  </form>

<br>
<h3>Delete Survey</h3>
<form action="/surveys/<%= @survey.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button name="submit" class="btn">DELETE</button>
</form>
